/*================
Containers
================*/

// Header

header {
  @extend %flex-center-row;
  background-color: #fff;
  width: 100%;
  height: 60px;
}

.menu-lg {
  @extend %flex-center-row;
  padding: 0;
  margin-left: 40%;
}

.nav-sm {
  @extend %flex-space-between;
  width: 100%;
}
.nav-sm-title {
  @extend %flex-center-row;
}
.menu-sm {
  display: block;
} 
.nav-lg {
  display: none;
}
.menu-lg {
  display: none;
}

@media (min-width: 768px) {
  .nav-sm {
    display: none;
  }
  .menu-sm {
    display: none;
  } 
  .nav-lg {
    display: flex;
  }
  .menu-lg {
    display: flex;
  }
}

// Modal

@media (min-width: 1025px) {
  .modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 1100px;
    height: 700px;
    background-color:rgba(0,0,0,0.5);
    margin: auto;
  }
}

// Home

label {
  margin-bottom: 5px;
}

input[type=text] {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 0 10px 35px;
  margin-bottom: 15px;
}

input[type=text]:focus {
  background-color: #cafcf6;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: 0.4s;
}

input[type=submit] {
  height: 42px;
  color: #fff;
  background-color: #000080;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

input[type=submit]:hover {
  background-color: #1414cc;
  transition: 0.4s;
}

input, #dates-wrapper {
  width: 276.719px;
  height: auto;
}

#home {
  @extend %flex-center-col;
  text-align: center;
}

#home div:first-child {
  @extend %flex-center-col;
}

#home div:nth-child(2) {
  @extend %flex-center-row;
}

#from {
  margin-right: calc(276.719px - 260px);
}

.dates {
  width: 130px;
  height: auto;
}

.dropdown {
  display: none;
  position: absolute;
  width: 276.719px;
  height: 190px;
  color: #000;
  text-align: left;
  background-color: #fff;
  overflow: scroll;
  margin-top: 120px;
}

.dropdown-list li {
  padding: 10px 0 10px 10px;
}

.dropdown-list li:hover {
  background-color: #cafcf6;
  border-color: #9ecaed;
}

.is-active {
  display: block;
}

// About

#about {
  color: #fff;
  text-align: center;
}

#about h2 {
  margin: 0 0 60px 0;
}

#about-sub {
  background-color:rgba(0,0,0,0.6);
  width: 600px;
  height: auto;
}

#about-sub p:first-child {
  padding-top: 60px;
  margin: 0 auto;
}

#about-sub p:nth-child(2) {
  padding: 60px 0;
  margin: 0;
}

#copyright {
  @extend %flex-center-row;
  width: 100%;
  height: 60px;
}