/*================
Images
================*/

.bg {
  background: #fff url("/img/bg.jpg") no-repeat center/cover;
  height: calc(100vh - 60px);
  width: auto;
  margin: 0;
  @extend %flex-center-row;
}

@media (max-width: 1024px) {
  .bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url("/img/bg.jpg") no-repeat center/cover;
  }
}

#main-logo-sm, #main-logo-lg {
  width: 54px;
  height: auto;
}

#main-logo-sm {
  margin-left: 15px;
}

// Home

#destination {
  background-image: url("/img/marker_gray.svg");
  background-position: 10px;
  background-repeat: no-repeat;
}

.dates {
  background-image: url("/img/calendar_gray.svg");
  background-position: 5px;
  background-repeat: no-repeat;
}