/*==============================================================================
Base Styles
==============================================================================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, a {
  height: 100%;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}
