/*================
Typography
================*/

// Fonts

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700|Montserrat:400,600,700');

h1, h2, h3, header li, label {
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-size: 1.8em;
  font-weight: 400;
}

h2, label {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

header li {
  font-size: 1.15em;
  font-weight: 600;
  color: #808080;
  margin-left: 30px;
}

a {
  color: #808080;
}

a:hover {
  color: #000080;
  transition: 0.4s;
}

.main-header-2 a {
  color: #fff;
  text-decoration: none;
}
.active h3 {
  color: #000;
}

p, input, .dropdown {
  font-family: "Montserrat", sans-serif;
}

label {
  font-weight: 700;
}

input[type=text] {
  font-size: 1em;
  font-weight: 400;
}

input[type=submit] {
  font-size: 1em;
  font-weight: 700;
}

.nav-lg {
  @extend %flex-center-row;
}

#main-logo-txt {
  padding-left: 10px;
  margin: 0;
}

// Home

#home label {
  color: #fff;
}

#dest-id {
  color: #808080;
}

// About

#about h2 {
  font-weight: 700;
}

#font-reg {
  font-weight: 400;
}

// Attractions

.main-header-1 h3 {
  color: #fff;
}

#attractions-main h1 {
  text-align: center;
}

.bold {
  font-weight: 700;
}