/*==============================================================================
Typography
==============================================================================*/

#main-logo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#main-logo-txt {
  padding-left: 10px;
  margin: 0;
}

li {
  margin-left: 20px;
}
